[Unit]
Description = <app-name>
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /var/run/<app-name>.pid
User = root
Group = root
WorkingDirectory = /opt/<app-name>
RootDirectory = /opt/<app-name>
Environment=PATH=/opt/<app-name>/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/snap/bin
EnvironmentFile = /opt/<app-name>/.env.production
ExecStart = /bin/bash -c '/usr/bin/env gunicorn -c gunicorn.conf wsgi:app --pid /var/run/<app-name>.pid'
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
PrivateTmp = true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<app-name>

[Install]
WantedBy = multi-user.target